.feature-item{
  position:relative;
}

.dropdown-content{
  position:absolute;
  top:60px;
  left:0;
  min-width:180px;
  background:rgba(15,23,42,0.95);
  border-radius:12px;
  padding:10px;
  display:none;
  flex-direction:column;
  gap:6px;
  backdrop-filter:blur(12px);
  border:1px solid rgba(255,255,255,0.1);
  box-shadow:0 15px 30px rgba(0,0,0,0.4);

  transform:translateY(-10px);
  opacity:0;
  transition:all .3s ease;
}

.dropdown-content div{
  padding:8px;
  border-radius:6px;
  cursor:pointer;
}

.dropdown-content div:hover{
  background:var(--accent);
}

.feature-item.active .dropdown-content{
  display:flex;
  transform:translateY(0);
  opacity:1;
}
